<body>
    <div>
        <nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light" style="color: #2D72C0">
            <a routerLink="/dashboard" class="navbar-brand" href="#"><img class="navbar-brand" width="30" height="25" src="assets/images/unity_logo.png">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a routerLink="/edit" href="" class="btn btn-outline-primary my-2 my-sm-0 mr-1">
                        <i class="fas fa-user-tie"></i>
                    </a>
                    <a routerLink="/search" href="" class="btn btn-outline-primary my-2 my-sm-0 mr-1">
                        <i class="fas fa-search"></i>
                    </a>
                    <a routerLink="/login" href="" class="btn btn-outline-danger my-2 my-sm-0">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </form>
            </div>
        </nav>
    </div>
